
<!--                                                 <TUT   8>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Templates Is Working</title>-->
<!--</head>-->
<!--<body>-->
<!--I Am Templates!!!!-->
<!--<p>-->
<!--{{name}} Is Frome {{place}}-->
<!--</body>-->
<!--</html>-->


<!--                                                    <TUT 9>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Templates Is Working</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Welcome To Text Analyzer. Enter Your Text Below </h1>-->
<!--<form action='/removepunc' method='get'>-->
<!--    <textarea name ='text' style="margin: 0px; width: 1201px; height: 93px;">  </textarea><br>-->
<!--    <button type='submit'> Analayze Text </button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--                                                        <TUT 10>-->



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->2
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Text Utils</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Welcome To Text Analyzer. Enter Your Text Below </h1>-->
<!--&lt;!&ndash;<form action='/removepunc' method='get'>&ndash;&gt;-->
<!--<form action='/analyze' method='get'>-->
<!--    <textarea name ='text' style="margin: 0px; width: 1201px; height: 93px;">  </textarea><br>-->
<!--    <input type="checkbox" name="removepunc">Remove Punctuation<br>-->
<!--    <button type='submit'> Analayze Text </button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--                                                                TUT 11-->
<!--&lt;!&ndash;EXERCISE 1 SOLUTION&ndash;&gt;                  tut 6-->

<!--                                                                    TUT 12-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Text Utils</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Welcome To Text Analyzer. Enter Your Text Below </h1>-->
<!--&lt;!&ndash;<form action='/removepunc' method='get'>&ndash;&gt;-->
<!--<form action='/analyze' method='get'>-->
<!--    <textarea name ='text' style="margin: 0px; width: 1201px; height: 93px;">  </textarea><br>-->
<!--    <input type="checkbox" name="removepunc">Remove Punctuation<br>-->
<!--    <input type="checkbox" name="capitalize">CUPPERCASE<br>-->
<!--    <input type="checkbox" name="newlineremove">NEW LINE REMOVER<br>-->
<!--    <input type="checkbox" name="extraspaceremover">Extra Spaces REMOVER<br>-->
<!--    <input type="checkbox" name="charcount">CHARACTER COUNT<br>-->
<!--    <button type='submit'> Analayze Text </button>-->
<!--</form>-->
<!--</body>-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--                                                            TUT  13-->

<!--            THIS IS EXERCISE-->


<!--                                                            TUT 14-->

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<!--    <title>BHAVSINH TextUtils</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <a class="navbar-brand" href="#">BHAVSINH TextUtils.com</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--    <div class="navbar-nav">-->
<!--      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      <a class="nav-item nav-link" href="#">About Us</a>-->
<!--      <a class="nav-item nav-link" href="#">Contact Us</a>-->
<!--    </div>-->
<!--  </div>-->
<!--        <form class="form-inline">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
<!--</nav>-->


<!--<div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--  <strong>Welcome To BHAVSINH TextUtils!!</strong> You can do anything with your text Here!.-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->

<!--    <div class="container">-->
<!--&lt;!&ndash;        container-fluid IS USE FOR WHOLE PAGE&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container-fluid">&ndash;&gt;-->
<!--        <form action='/analyze' method='get'>-->

<!--  <div class="form-group">-->
<!--    <label for="exampleFormControlTextarea1">Enter Your Text Here And Let See The TextUtils Magic</label>-->
<!--    <textarea class="form-control" name ='text' id="exampleFormControlTextarea1" rows="4"></textarea>-->
<!--  </div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">-->
<!--  <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>-->
<!--</div>-->
<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox"name="capitalize" class="custom-control-input" id="customSwitch2">-->
<!--  <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>-->
<!--</div>-->
<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="newlineremove" class="custom-control-input" id="customSwitch3">-->
<!--  <label class="custom-control-label" for="customSwitch3">NEW LINE REMOVER</label>-->
<!--</div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">-->
<!--  <label class="custom-control-label" for="customSwitch4">Extra Spaces REMOVER</label>-->
<!--</div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">-->
<!--  <label class="custom-control-label" for="customSwitch5">CHARACTER COUNT</label>-->
<!--</div>-->
<!--        <br>-->
<!--        <button type="submit" class="btn btn-dark">Analayze Text</button>-->
<!--            </form>-->

<!--    </div>-->

<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->









<!--                                                    TUT 16-->





<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<!--    <title>BHAVSINH TextUtils</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <a class="navbar-brand" href="#">BHAVSINH TextUtils.com</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--    <div class="navbar-nav">-->
<!--      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      <a class="nav-item nav-link" href="#">About Us</a>-->
<!--      <a class="nav-item nav-link" href="#">Contact Us</a>-->
<!--    </div>-->
<!--  </div>-->
<!--        <form class="form-inline">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
<!--</nav>-->


<!--<div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--  <strong>Welcome To BHAVSINH TextUtils!!</strong> You can do anything with your text Here!.-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->

<!--    <div class="container">-->
<!--&lt;!&ndash;        container-fluid IS USE FOR WHOLE PAGE&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container-fluid">&ndash;&gt;-->
<!--        <form action='/analyze' method='post'>{% csrf_token %}-->

<!--  <div class="form-group">-->
<!--    <label for="exampleFormControlTextarea1">Enter Your Text Here And Let See The TextUtils Magic</label>-->
<!--    <textarea class="form-control" name ='text' id="exampleFormControlTextarea1" rows="4"></textarea>-->
<!--  </div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">-->
<!--  <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>-->
<!--</div>-->
<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox"name="capitalize" class="custom-control-input" id="customSwitch2">-->
<!--  <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>-->
<!--</div>-->
<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="newlineremove" class="custom-control-input" id="customSwitch3">-->
<!--  <label class="custom-control-label" for="customSwitch3">NEW LINE REMOVER</label>-->
<!--</div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">-->
<!--  <label class="custom-control-label" for="customSwitch4">Extra Spaces REMOVER</label>-->
<!--</div>-->

<!--        <div class="custom-control custom-switch">-->
<!--  <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">-->
<!--  <label class="custom-control-label" for="customSwitch5">CHARACTER COUNT</label>-->
<!--</div>-->
<!--        <br>-->
<!--        <button type="submit" class="btn btn-dark">Analayze Text</button>-->
<!--            </form>-->

<!--    </div>-->

<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->





<!--                                                    TUT 17-->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>BHAVSINH TextUtils</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BHAVSINH TextUtils.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
    </div>
  </div>
        <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome To BHAVSINH TextUtils!!</strong> You can do anything with your text Here!.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    <div class="container">
<!--        container-fluid IS USE FOR WHOLE PAGE-->
<!--    <div class="container-fluid">-->
        <form action='/analyze' method='post'>{% csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Text Here And Let See The TextUtils Magic</label>
    <textarea class="form-control" name ='text' id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>

        <div class="custom-control custom-switch">
  <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>
</div>
        <div class="custom-control custom-switch">
  <input type="checkbox"name="capitalize" class="custom-control-input" id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
</div>
        <div class="custom-control custom-switch">
  <input type="checkbox" name="newlineremove" class="custom-control-input" id="customSwitch3">
  <label class="custom-control-label" for="customSwitch3">NEW LINE REMOVER</label>
</div>

        <div class="custom-control custom-switch">
  <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">
  <label class="custom-control-label" for="customSwitch4">Extra Spaces REMOVER</label>
</div>

        <div class="custom-control custom-switch">
  <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">
  <label class="custom-control-label" for="customSwitch5">CHARACTER COUNT</label>
</div>
        <br>
        <button type="submit" class="btn btn-dark">Analayze Text</button>
            </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>